/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url('images/iris.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    font-size: 40px;
    background-color: #74FF9D;
    bottom: 134px;
    left: 144px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 200;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
